a[href*="google"] {
    color: green;
}
a[target] {
    color: red
}
#second-div p:nth-child(odd) {
    color: blue;
}
#second-div p:nth-child(even) {
    color: red;
}
#first-div>p::after {
    content: " -new";
    text-transform: uppercase;
    color: yellow;
}
p:nth-child(8):hover { 
    font-style: italic;
} 